{% extends 'base_generic.html' %}

{% block title %}
    <title>My Local Library</title>
{% endblock title %}

{% block content %}
    <h1>Local Library Home</h1>
    <p><em>Welcome to LocalLibrary</em></p>
    <h2>Dynamic content</h2>
    <p>The library has the following records:</p>
    <ul>
        <li><strong>Books:</strong> {{ num_books }}</li>
        <li><strong>Copies:</strong> {{ num_instances }}</li>
        <li><strong>Copies available:</strong> {{ num_instances_available }}</li>
        <li><strong>Authors:</strong> {{ num_authors }}</li>
        <li><strong>Genres:</strong> {{ num_genres }}</li>
        <li><strong>Books with "Crime" word:</strong> {{ num_books_with_crime_word }}</li>
        <li><strong>Author(s) with maximum books: </strong>
            {% for author in authors_with_max_books %}
                <span>{{ author.first }} {{ author.last }} ({{ author.count }})</span>
                {% if not forloop.last %},{% endif %}
            {% endfor %}
        </li>
        {% for author in youngest_and_oldest_authors %}
            <li><strong>{{ author.comment }}:</strong> {{ author.first_name }} {{ author.last_name }}
                ({{ author.date_of_birth }} - {{ author.date_of_death|default_if_none:'...' }})
            </li>
        {% endfor %}
        <li><strong>Books without instances: </strong>
            {% if books_without_instances %}
                {% for book in books_without_instances %}
                    <span>{{ book.title }}</span>
                    {% if not forloop.last %},{% endif %}
                {% endfor %}
            {% else %}
                We have intances of all books!
            {% endif %}
        </li>

        {% if user.is_superuser and user_loaned_books_count %}
            <hr>
            <table class="table table-active">
                <tr>
                    <th>Username</th>
                    <th>Loanded books count</th>
                </tr>
                {% for user_ in user_loaned_books_count %}
                    <tr>
                        <td>{{ user_.username }}</td>
                        <td>{{ user_.count }}</td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}

        {% if author_biggest_bookinstance_count %}
            <hr>
            <table class="table table-active">
                <tr>
                    <th>Author first name</th>
                    <th>Author last name</th>
                    <th>Author's book title with highest count of instances</th>
                </tr>
                {% for author in author_biggest_bookinstance_count %}
                    <tr>
                        <td>{{ author.first_name }}</td>
                        <td>{{ author.last_name }}</td>
                        <td>{{ author.title }}</td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
        <hr>
    </ul>
{% endblock %}