{% extends 'base_generic.html' %}

<link rel="stylesheet" href="">
{% block content %}
    <h1>{{ author.last_name }}, {{ author.first_name }}</h1>

    {% if author.date_of_birth %}
        <p><strong>Date of birth:</strong> {{ author.date_of_birth }}</p>
    {% endif %}
    {% if author.date_of_death %}
        <p><strong>Date of death:</strong> {{ author.date_of_death }}</p>
    {% endif %}
    <p>
        {% if perms.catalog.can_mark_returned %}
            | <a href="{% url 'author-update' author.id %}">Update author</a> |
            <a href="{% url 'author-delete' author.id %}">Delete author</a> |
        {% endif %}
    </p>

    <div class="nested">
        <h4>Books</h4>
        <a href="{% url 'book-create' %}">Add book</a>
        {% if author.book_set.all %}
            <ul>
                {% for book in author.book_set.all %}
                    <hr>
                    <p>
                        <a href="{{ book.get_absolute_url }}">{{ book.title }}</a> ({{ book.id }})

                        {% if perms.catalog.can_mark_returned %}
                            | <a href="{% url 'book-update' book.id %}">Update book</a> |
                            <a href="{% url 'book-delete' book.id %}">Delete book</a> |
                        {% endif %}

                        <br>{{ book.summary }}
                    </p>
                {% endfor %}
            </ul>
        {% else %}
            <p>There are no books of this author added to the library yet</p>
        {% endif %}
    </div>
{% endblock %}