{% extends 'base_generic.html' %}

{% block content %}
    <h1>Authors</h1>
    <hr>
    {% if perms.catalog.can_mark_returned %}
        <a href="{% url 'author-create' %}">Add author</a>
        <hr>
    {% endif %}

    <form class="mb-3" action="{% url 'authors' %}" method="get">
    <label for="date1">Birth date: </label>
    <input name="date1" id="date1" type="text">
    <label for="date2">Death date: </label>
    <input name="date2" id="date1" type="text">
    <input type="submit" value="Search">
    </form>
    <hr>

    {% if author_list %}
        <ul>
            {% for author in author_list %}
                <li>
                    <a href="{{ author.get_absolute_url }}">{{ author.last_name }}, {{ author.first_name }}</a>
                    {% if perms.catalog.can_mark_returned %}
                        || <a href="{% url 'author-update' author.id %}">Update author</a> |
                        <a href="{% url 'author-delete' author.id %}">Delete author</a> |
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>There are no authors in the library.</p>
    {% endif %}
{% endblock %}