{% extends 'base_generic.html' %}

{% block content %}
    <h4>Name: {{ genre.name }}</h4>

    {% if perms.catalog.can_mark_returned %}
        <p>| <a href="{% url 'genre-update' genre.id %}">Update genre</a> |
            <a href="{% url 'genre-delete' genre.id %}">Delete genre</a> |</p>
    {% endif %}

    <div class="nested">
        {% if genre.book_set %}
            <h4>Books</h4>
            <a href="{% url 'book-create' %}">Add book</a>
            <ul>
                {% for book in genre.book_set.all %}
                    <hr>
                    <p>
                        <a href="{{ book.get_absolute_url }}">{{ book.title }}</a> ({{ book.id }})

                        {% if perms.catalog.can_mark_returned %}
                            | <a href="{% url 'book-update' book.id %}">Update book</a> |
                            <a href="{% url 'book-delete' book.id %}">Delete book</a> |
                        {% endif %}

                        <br>{{ book.summary }}
                    </p>
                {% endfor %}
            </ul>
        {% else %}
            <p>There are no books of this genre added to the library yet</p>
        {% endif %}
    </div>
{% endblock %}