{% extends 'base_generic.html' %}

{% block content %}
    <h4>Name: {{ language.name }}</h4>

    {% if perms.catalog.can_mark_returned %}
        <p>| <a href="{% url 'language-update' language.id %}">Update language</a> |
            <a href="{% url 'language-delete' language.id %}">Delete language</a> |</p>
    {% endif %}

    <div class="nested">
        {% if language.book_set %}
            <h4>Books</h4>
            <a href="{% url 'bookinstance-create' %}">Add copy of a book</a>
            <ul>
                {% for copy in language.bookinstance_set.all %}
                    <hr>
                    <p class="{% if copy.status == 'a' %}text-success{% elif copy.status == 'm' %}text-danger{% else %}this-text-warning{% endif %}">
                        {{ copy.get_status_display }}
                    </p>
                    {% if copy.status != 'a' and copy.status != 'r' %}
                        <p><strong>Due to be returned:</strong> {{ copy.due_back }}</p>
                    {% endif %}
                    <p><strong>Imprint:</strong> {{ copy.imprint }}</p>
                    <p class="text-muted"><strong>Id:</strong> {{ copy.id }}
                        {% if perms.catalog.can_mark_returned %}
                            | <a href="{% url 'bookinstance-update' copy.id %}">Update copy of a book</a>
                            | <a href="{% url 'bookinstance-delete' copy.id %}">Delete copy of a book</a> |
                        {% endif %}
                    </p>
                {% endfor %}
            </ul>
        {% else %}
            <p>There are no books of this language added to the library yet</p>
        {% endif %}
    </div>
{% endblock %}